{% load static %}
<html>
	<head>
		<title>EPS</title>
		<link rel="stylesheet" href="{% static 'css.css' %}">
	</head>

	<body id="bloc_page">
	
		<header>
			<p id = "logo"><img src="{% static 'logo.png' %}"/></p>
			<p id = "date"> {{date}}</p>
			<!-- <p id ="administration"><a href="{% url 'philadelphie.views.administration' %}">Administration</a></p> -->
			<p id = "connecter"><a href="{% url 'philadelphie.views.connecter' %}">Se Connecter</a> | <a href="{% url 'philadelphie.views.inscrire' %}">S'inscrire</p></a>
			<p id = "separateur"><img src="{% static 'separateur.png' %}"/></p>
			<p><nav><a href="{% url 'philadelphie.views.acceuil' %}">Acceuil</a> | <a href="{% url 'philadelphie.views.croyances' %}">Croyances</a> |<a href="{% url 'philadelphie.views.apropos' %}">A Propos</a> | <a href="{% url 'philadelphie.views.actualites' %}">Actualites</a>
			</nav>
			</p>
		</header>
				
		<p id = "corps"><img src="{% static 'corps.png' %}"/></p>
	    <p id = "partie1"><img src="{% static 'logo1.jpg' %}"/></p>
		<p id = "partie2">
		{{texte1|truncatewords:100 }} <a href= "{%url 'philadelphie.views.croyances'%}">Lire la suite.</a>
				</p>
		<p id = "partie3">
		{{texte2|truncatewords:100 }} <a href= "{% url 'philadelphie.views.apropos' %}">Lire la suite.</a>
				</p>

						<p id = "partie4">
		 {% for article in articles %}
		{{article.contenu|truncatewords:100}} <a href= "{% url 'philadelphie.views.actualites' %}">Lire la suite.</a>
		{% endfor %}
				</p>
	
	
		<footer>
			<p id="foot_note"> © 2015 Proudly created by Jealcinor-Tech.   <a href= mailto "jean_net@live.fr">Contact</a></p>
			<p id = "logo_foot"><a href="https://www.facebook.com/AdvantisteDu7emJour?ref=hl" target="blank"><img src="{% static 'facebook.png' %}"/></a></p>
		</footer>
	
	</body>
	
</html>
