{% load static %}
<html>
	<head>
		<title>EPS</title>
		<link rel="stylesheet" href="{% static 'css.css' %}">
	</head>

	<body id="bloc_page">
		<header>
			<p id = "logo"><img src="{% static 'logo.png' %}"/></p>
			<p id = "date"> {{date}}</p>
			<p id = "connecter">Bienvenue {{user.username}}| <a href="{% url 'philadelphie.views.deconnexion' %}">Deconnexion</p></a></p>
			<p id = "separateur"><img src="{% static 'separateur.png' %}"/></p>
			<p><nav><a href="{% url 'philadelphie.views.acceuil1' %}">Acceuil</a> | <a href="{% url 'philadelphie.views.croyances1' %}">Croyances</a> |<a href="{% url 'philadelphie.views.apropos1' %}">A Propos</a> | <a href="{% url 'philadelphie.views.actualites1' %}">Actualites</a>
			</nav>
			</p>
		</header>
				
		<p id = "corps"><img src="{% static 'corps.png' %}"/></p>
	    <p id = "partie1"><img src="{% static 'logo1.jpg' %}"/></p>
		<p id = "partie2">
		{{texte1|truncatewords:80 }} <a href= "...">Lire la suite.</a>
				</p>
		<p id = "partie3">
		{{texte2|truncatewords:80 }} <a href= "...">Lire la suite.</a>
				</p>

			<p id = "partie4">
		 {% for article in articles %}
		{{article.contenu|truncatewords:100}} <a href= "{% url 'philadelphie.views.actualites' %}">Lire la suite.</a>
		{% endfor %}
			</p>
	
	
		<footer>
			<p id="foot_note"> © 2015 Proudly created by Jealcinor-Tech.   <a href= mailto "jean_net@live.fr">Contact</a></p>
			<p id = "logo_foot"><a href="https://www.facebook.com/AdvantisteDu7emJour?ref=hl" target="blank"><img src="{% static 'facebook.png' %}"/></a></p>
		</footer>
	
	</body>
	
</html>
