{% load static %}
<html>
	<head>
		<title>EPS</title>
		<link rel="stylesheet" href="{% static 'css.css' %}">
	</head>

	<body id="bloc_page">
		<header>
			<p id = "logo"><img src="{% static 'logo.png' %}"/></p>
			<p id = "date"> {{date}}</p>
			<p id = "connecter"><a href="{% url 'philadelphie.views.connecter' %}">Se Connecter</a> | <a href="{% url 'philadelphie.views.inscrire' %}">S'inscrire</p></a>
			<p id = "separateur"><img src="{% static 'separateur.png' %}"/></p>
			<p><nav><a href="{% url 'philadelphie.views.acceuil' %}">Acceuil</a> | <a href="{% url 'philadelphie.views.croyances' %}">Croyances</a> |<a href="{% url 'philadelphie.views.apropos' %}">A Propos</a> | <a href="{% url 'philadelphie.views.actualites' %}">Actualites</a>
			</nav>
			</p>
		</header>
	
				<div id ="titre_article">
				Toutes les actualites a Philadelphie de Sarthe
				</div>
				<div id ="article">
				{% for article in articles %}
				<p>
				<fieldset >
				
<!-- 			<video controls width ="82" height="82">
				<source src="{{ MEDIA_URL }}{{ contact.fichier}}">
				</video> -->
				<!-- <img src="{{ MEDIA_URL }}{{ article.image }}" width ="82" height="82" id = "image_article"/> -->
				<a href="{% url "philadelphie.views.articles" article.id %}">"{{ article.titre_article|truncatewords:10}}"</a><br>
				{{article.contenu|truncatewords:20 }} <a href ="{% url "philadelphie.views.articles" article.id %}">Lire la suite</a><br>
				{{article.date|date:"D d M Y"}}, Par: {{article.auteur}}<br><br>
				</fieldset>
				</p>
				{% endfor %}<br><br><br>
				Exprimez-vous ci-dessous sur les infos de Philadelphie de Sarthe <br><br>
				Vous devez <a href="{% url 'philadelphie.views.connecter' %}">être connecté </a>pour poster une réaction.<br><br><br><br>
				<div id="commentaire">
			Commentaires<br>
				{% for commentaire in commentaires %}
				<fieldset id ="fieldset_comment">
				<span id= "comment_pseudo">{{commentaire.pseudo}}:<br></span>{{commentaire.commentaire}}
				</fieldset><br>
				{% endfor %}
			   </div>
				</div>
				

	
<!-- 		<footer>
			<p id="foot_note"> © 2015 Proudly created by Jealcinor-Tech.   <a href= mailto "jean_net@live.fr">Contact</a></p>
			<p id = "logo_foot"><a href="https://www.facebook.com/AdvantisteDu7emJour?ref=hl"><img src="{% static 'facebook.png' %}"/></a></p>
		</footer> -->
	
	</body>
	
</html>
