{% load static %}
<html>
	<head>
		<title>EPS</title>
		<link rel="stylesheet" href="{% static 'css.css' %}">
	</head>

	<body id="bloc_page">
		<header>
			<p id = "logo"><img src="{% static 'logo.png' %}"/></p>
			<p id = "date"> {{date}}</p>
			<p id = "connecter">Bienvenue {{user.username}}| <a href="{% url 'philadelphie.views.deconnexion' %}">Deconnexion</p></a></p>
			<p id = "separateur"><img src="{% static 'separateur.png' %}"/></p>
			<p><nav><a href="{% url 'philadelphie.views.acceuil1' %}">Acceuil</a> | <a href="{% url 'philadelphie.views.croyances1' %}">Croyances</a> |<a href="{% url 'philadelphie.views.apropos1' %}">A Propos</a> | <a href="{% url 'philadelphie.views.actualites1' %}">Actualites</a>
			</nav>
			</p>
		</header>
		
				

	
				<div id ="titre_article">
				Toutes les actualités a Philadelphie de Sarthe
				</div>
								
				<div id = "erreur"> 
				{{message}}
				{%if erreur%}
				ERREUR.<br>
				Rempli totalement le formulaire.<br>
				<ol>
				<li>Choisir l'actualité que vous voulez commenter</li>
				<li>Taper votre commentaire</li>
				</ol>
				{%endif%}
				</div>
		<div id ="article">
		
				{% for article in articles %}
				<p>
				<fieldset >
				
<!-- 			<video controls width ="82" height="82">
				<source src="{{ MEDIA_URL }}{{ contact.fichier}}">
				</video> -->
				<!-- <img src="{{ MEDIA_URL }}{{ article.image }}" width ="82" height="82" id = "image_article"/> -->
				<a href="{% url "philadelphie.views.articles1" article.id %}"> "{{ article.titre_article|truncatewords:10}}"</a><br>
				{{article.contenu|truncatewords:20 }} <a href ="{% url "philadelphie.views.articles1" article.id %}">Lire la suite</a><br>
				{{article.date|date:"D d M Y"}}, Par: {{article.auteur}}<br><br>
				</fieldset>
				</p>
				{% endfor %}
				<div id ="comment_article">
<!-- 					<form action="{% url "philadelphie.views.commenter"%}" method="post">{% csrf_token %} 
					{{ formcomment.as_p }}
					<input type="submit" value="Commenter" />
					</form> -->
			<div id="commentaire1">
			Commentaires<br>
				{% for commentaire in commentaires %}
				<fieldset id ="fieldset_comment">
				<span id= "comment_pseudo">{{commentaire.pseudo}}:<br></span>{{commentaire.commentaire}}
				</fieldset><br>
				{% endfor %}
			</div>
				</div>
				

		</div>
	
				

	
<!-- 		<footer>
			<p id="foot_note"> © 2015 Proudly created by Jealcinor-Tech.   <a href= mailto "jean_net@live.fr">Contact</a></p>
			<p id = "logo_foot"><a href="https://www.facebook.com/AdvantisteDu7emJour?ref=hl"><img src="{% static 'facebook.png' %}"/></a></p>
		</footer> -->
	
	</body>
	
</html>
