{% load static %}
<html>
	<head>
		<title>EPS</title>
		<link rel="stylesheet" href="{% static 'css.css' %}">
	</head>

	<body id="bloc_page">
		<header>
			<p id = "logo"><img src="{% static 'logo.png' %}"/></p>
			<p id = "date"> {{date}}</p>
			<p id = "connecter">Page d'administration</p>
			<p id = "separateur"><img src="{% static 'separateur.png' %}"/></p>

		</header><br><br><br><br>


				
				
				<div id ="ajouter_articl">
				<form action="{% url "philadelphie.views.ajouter"%}" method="post" enctype="multipart/form-data">{% csrf_token %} 
				{{formajout.as_p}}
				<input type="submit" value="Ajouter"/>
				</form> 
				</div>
			
	

				
				

	
		<footer>
			<p> © 2015 Proudly created by Jealcinor-Tech.   <a href= mailto "jean_net@live.fr">Contact</a></p>
			<p id = "logo_foot"><img src="{% static 'facebook.png' %}"/></p>
		</footer>
	
	</body>
	
</html>
