{% load static %}
<html>
	<head>
		<title>EPS</title>
		<link rel="stylesheet" href="{% static 'css.css' %}">
	</head>

	<body id="bloc_page">
		<header>
			<p id = "logo"><img src="{% static 'logo.png' %}"/></p>
			<p id = "date"> {{date}}</p>
			<p id = "connecter"><a href="{% url 'philadelphie.views.connecter' %}">Se Connecter</a> | <a href="{% url 'philadelphie.views.inscrire' %}">S'inscrire</p></a>
			<p id = "separateur"><img src="{% static 'separateur.png' %}"/></p>
			<p><nav><a href="{% url 'philadelphie.views.acceuil' %}">Acceuil</a> | <a href="{% url 'philadelphie.views.croyances' %}">Croyances</a> |<a href="{% url 'philadelphie.views.apropos' %}">A Propos</a> | <a href="{% url 'philadelphie.views.actualites' %}">Actualites</a>
			</nav>
			</p>
		</header>
		
		
		<p class="histoire">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Historicite<br><br>
Avant les gens habitant à Sarthe n’avait qu’un lieu d’adoration. Nous adorions à mamré (Église Adventiste de Drouillard).
Certains ont eu l’idée de créer une école sabbat. Serge un ancien respectable et respectés décida de faire cette école sabbat en nous donnant un local ou on entrepris le nom de Mamré 2.
Ayant comme mission de prêcher l’évangile, cette école Sabbat devint une  église n’étant plus sur la tutelle de Mamré, nous avons pris l’appellation de Philadelphie de Sarthe (Amour fraternelle).
Tout comme toute autre église adventiste, Philadelphie de Sarthe est composé de plusieurs départements qui sont :<br>
A.	L’école du sabbat <br>
B.	Les activités Laïques<br>
C.	Jeunesse(JA)<br>
D.	Sante et Tempérance<br>
E.	Enfants, Femmes et famille<br>
F.	Bienfaisance (Dorcas, bon samaritain)<br>
G.	Communication<br>
H.	Publication<br>
I.	Éducation<br>
Telle est l’origine, l’histoire de notre dénomination. Elle repose sur la vérité des Saintes écritures, la foi en Jésus ainsi qu’en son retour et l’observation 
de la loi de Dieu y compris l’observation Du saint sabbat de l’éternel.<br><br>
Philadelphie de Sarthe est dirige par un groupe de 7 anciens qui sont: <br>
1.<br>
1.<br>
1.<br>
1.<br>
1.<br>
1.<br>
1.<br>

		 </p>
		 
		 <p class="histoire1">

		 </p>
		
			
			<form method="POST" action="{% url 'philadelphie.views.envoyer' %}" id = "contact">{% csrf_token %}
			<center>Pour nous contacter facilement vous pouvez remplir ce formulaire<br>{{no_errors}} {{errors}}</center>
			{{formenvoyeur.as_p}}
			<input type="submit" name="valider" value="Envoyer"><br><br>
			
			</form>
		
		
	
	
	
		<footer>
			<p id="foot_note"> © 2015 Proudly created by Jealcinor-Tech.   <a href= mailto "jean_net@live.fr">Contact</a></p>
			<p id = "logo_foot"><a href="https://www.facebook.com/AdvantisteDu7emJour?ref=hl" target="blank"><img src="{% static 'facebook.png' %}"/></a></p>
		</footer>
	
	</body>
	
</html>