{% load static %}
<html>
	<head>
		<title>EPS</title>
		<link rel="stylesheet" href="{% static 'css.css' %}">
	</head>

	<body id="bloc_page">
		<header>
			<p id = "logo"><img src="{% static 'logo.png' %}"/></p>
			<p id = "date"> {{date}}</p>
			<p id = "connecter">Bienvenue {{user.username}}| <a href="{% url 'philadelphie.views.deconnexion' %}">Deconnexion</p></a></p>
			<p id = "separateur"><img src="{% static 'separateur.png' %}"/></p>
			<p><nav><a href="{% url 'philadelphie.views.acceuil1' %}">Acceuil</a> | <a href="{% url 'philadelphie.views.croyances1' %}">Croyances</a> |<a href="{% url 'philadelphie.views.apropos1' %}">A Propos</a> | <a href="{% url 'philadelphie.views.actualites1' %}">Actualites</a>
			</nav>
			</p>
		</header>
		
	<div id ="title">
				{{articles.titre_article}}
				</div>
				
				<div id ="contenue">
				<fieldset>
				<!-- <center><img src="{{ MEDIA_URL }}{{ articles.image }}" id = "pic_articles"/>/center><br> -->
				<!-- <center><img src="{% static 'corps.png' %}"  id = "pic_articles"/></center><br> -->
				{{articles.contenu}}<br><br>
				Auteur:{{articles.auteur}} le {{articles.date|date:"D d M Y"}}
				</fieldset>
				<form action="{% url "philadelphie.views.commenter"%}" method="post">{% csrf_token %}
				{{formcomment.as_p}}
				<input type="submit" value="Commenter"/>
				</form>
				
				
				<div id ="comment_article">
			<div id="commentaire1">
			<br><br>Commentaires<br>
				{% for commentaires in commentaire %}
				<fieldset id ="fieldset_comment">
				<span id= "comment_pseudo">{{commentaires.pseudo}}:<br></span>{{commentaires.commentaire}}
				</fieldset><br>
				{% endfor %}
			</div>
				</div>
				</div>
				

	
<!-- 		<footer>
			<p id="foot_note"> © 2015 Proudly created by Jealcinor-Tech.   <a href= mailto "jean_net@live.fr">Contact</a></p>
			<p id = "logo_foot"><a href="https://www.facebook.com/AdvantisteDu7emJour?ref=hl"><img src="{% static 'facebook.png' %}"/></a></p>
		</footer> -->
	
	</body>
	
</html>
