{% load static %}
<html>
	<head>
		<title>EPS</title>
		<link rel="stylesheet" href="{% static 'css.css' %}">
	</head>

	<body id="bloc_page">
		<header>
			<p id = "logo"><img src="{% static 'logo.png' %}"/></p>
			<p id = "date"> {{date}}</p>
			<p id = "connecter"><a href="{% url 'philadelphie.views.connecter' %}">Se Connecter</a> | <a href="{% url 'philadelphie.views.inscrire' %}">S'inscrire</p></a>
			<p id = "separateur"><img src="{% static 'separateur.png' %}"/></p>
			<p><nav><a href="{% url 'philadelphie.views.acceuil' %}">Acceuil</a> | <a href="{% url 'philadelphie.views.croyances' %}">Croyances</a> |<a href="{% url 'philadelphie.views.apropos' %}">A Propos</a> | <a href="{% url 'philadelphie.views.actualites' %}">Actualites</a>
			</nav>
			</p>
		</header>
		
		<div id ="croyances">
		<ol>
		Les adventistes du septième jour reconnaissent la Bible comme leur seul credo et professent un certain nombre de croyances fondamentales procédant des Saintes Écritures. 
		Ces croyances, énoncées ci-après, exposent la manière dont l´Église conçoit et exprime l´enseignement biblique. Cette profession de foi est susceptible d´être révisée lors 
		d´une session de la Conférence Générale, quand l´Église est amenée par l´Esprit Saint à une meilleure compréhension des vérités bibliques ou qu´elle trouve un langage mieux 
		approprié pour exprimer ce que la Parole de Dieu enseigne.<br><br>
		<li class="liste">Les Saintes Écritures</li>
		Les Saintes Écritures – l´Ancien et le Nouveau Testament – sont la Parole de Dieu écrite, communiquée grâce à l´inspiration divine par l´intermédiaire de saints hommes de 
		Dieu qui ont parlé et écrit sous l´impulsion du Saint-Esprit. Dans cette Parole, Dieu a confié à l´homme la connaissance nécessaire au salut. Les Saintes Écritures constituent
		la révélation infaillible de sa volonté. Elles sont la norme du caractère, le critère de l´expérience, le fondement souverain des doctrines et le récit digne de confiance 
		des interventions de Dieu dans l´histoire (2 P 1.20, 21 ; 2 Tm 3.16, 17 ; Ps 119.105 ; Pr 30.5, 6 ; Es 8.20 ; Jn 17.17. 1 Th 2.13 ; Hé 4.12).<br><br>
		<li class="liste"> La Trinité</li>
		Il y a un seul Dieu : Père, Fils et Saint-Esprit, unité de trois personnes co-éternelles. Dieu est immortel, omniprésent, omniscient, souverain et toujours présent. 
		Il est infini et dépasse la compréhension humaine ; cependant, il peut être connu grâce à la révélation qu´il donne de lui-même. Il est toujours digne d´être invoqué, 
		adoré et servi par toute la création (Dt 6.4 ; Mt 28.19 ; 2 Co 13.14 ; Ep 4.4-6 ; 1 P 1.2 ; 1 Tm 1.17 ; Ap 14.7).<br><br>
		<li class="liste">Le Père</li>
		Dieu, le Père éternel, est le Créateur, la source, le soutien et le souverain de toute la création. Il est juste et saint, miséricordieux et compatissant, lent à la 
		colère, riche en bienveillance et en fidélité. Les vertus et les facultés manifestées par le Fils et le Saint6esprit sont aussi révélatrices du Père (Gn 1.1 ; Ap 4.11 
		; 1 Co 15.28 ; Jn 3.16 ; 1 Jn 4.8 ; 1 Tm 1.17 ; Ex 34.6, 7. Jn 14.9).<br><br>
		<li class="liste">Le Fils</li>
		Dieu, le Fils éternel, s´est incarné en Jésus-Christ. Par lui, tout a été créé ; par lui, le caractère de Dieu s´est révélé, le salut de l´humanité s´est accompli et 
		le monde est jugé. Éternellement et véritablement Dieu, il est aussi devenu véritablement homme, Jésus, le Christ. Il a été conçu du Saint6esprit et il est né de la 
		vierge Marie. Il a vécu et a été soumis à la tentation en tant qu´homme, mais il a donné l´exemple parfait de la justice et de l´amour de Dieu. Ses miracles ont mis 
		en évidence la puissance de Dieu et l´ont confirmé comme le Messie promis. Il a souffert et il est mort de son plein gré sur la croix pour nos péchés et à notre place,
		il est ressuscité des morts et il est monté exercer un ministère en notre faveur dans le sanctuaire céleste. Il reviendra en gloire pour délivrer définitivement son 
		peuple et rétablir toutes choses (Jn 1.1-3 ; 14 ; Col 1.15-19 ; Jn 10.30 ; 14.9 ; Rm 6.23 ; 2 Co 5.17-21 ; Jn 5.22 ; Lc 1.35 ; Ph 2.5-11 ; 1 Co 15.3, 4 ; Hé 2.9-18 ;
		8.1,2 ; Jn 14.1-3).<br><br>
		<li class="liste">Le Saint-Esprit</li>
		Dieu, l´Esprit éternel, a pris, avec le Père et le Fils, une part active à la création, à l´incarnation et à la rédemption. Il a inspiré les écrivains de la Bible. 
		Il a rempli de puissance la vie du Christ. Il attire et persuade les êtres humain ; ceux qui répondent favorablement, il les régénère et les transforme à l´image de
		Dieu. Envoyé par le Père et le Fils pour être toujours avec les croyants, il dispense ses dons spirituels à l´Église, lui donne la puissance nécessaire pour rendre 
		témoignage au Christ et, en harmonie avec les Écritures, la conduit dans toute la vérité (Gn 1.1, 2 ; Lc 1.35 ; 2 P 1.21 ; Lc 4.18 ; Ac 10.38 ; 2 Co 3.18 ; Ep 4.11, 
		12 ; Ac 1.8 ; Jn 14.16-18, 26 ; 15.26, 27 ; 16.7-13).<br><br>
		<li class="liste"> La Création</li>
		Dieu a créé toutes choses et nous a révélé dans les Écritures le compte rendu de son activité créatrice. En six jours, le Seigneur a fait les cieux et la terre, et 
		il s´est reposé le septième jour de cette première semaine. Ila, par là même, institué le sabbat comme mémorial perpétuel d´une œuvre créatrice achevée. Le premier 
		couple, homme et femme, fut créé à l´image de Dieu comme le couronnement de la création ; il reçut le pouvoir de dominer le monde et fut chargé d´en prendre soin. 
		Dès son achèvement, le monde était très bon et proclamait la gloire de Dieu (Gn 1.2 ; Ex 20.8-11 ; Ps 19.1-6 ; 33.6, 9 ; 104 ; Hé 11.3).<br><br>
		<li class="liste">La nature de l´homme</li>
		L´homme et la femme furent créés à l´image de Dieu et dotés d´une individualité, c´est-à-dire du pouvoir et de la liberté de penser et d´agir. 
		Bien que créé libre, chacun d´eux, constitué d´une unité indivisible, corps, âme et esprit, était dépendant de Dieu pour la vie, dans tous les 
		aspects de l´existence. Quand nos premiers parents désobéirent à Dieu, ils refusèrent de dépendre de lui et furent déchus de la position élevée que 
		Dieu leur avait conférée. L´image divine fut altérée en eux et ils devinrent mortels. Leurs descendants participent à cette nature déchue et en supportent 
		les conséquences. Ils naissent avec des faiblesses et des tendances au mal. Mais Dieu – en Christ – a réconcilié le monde avec lui-même et ; par son Esprit, 
		il rétablit chez les mortels repentants l´image de celui qui les a faits. Créés pour la gloire de Dieu, ils sont appelés à l´aimer, à s´aimer les uns les autres 
		et à prendre soin de leur environnement (Gn 1.26-28 ; 2.7 ; Ps 8.4-8 ; Ac 17 ;24-28 ; Gn 3 ; Ps 51.7, 12 ; 1 Jn 4.7, 8, 11, 20 ; Gn 2.15 ; Rm 5.12-17 ; 2 Co 5.19, 20).<br><br>
		<li class="liste">Le grand conflit</li>
		L´humanité tout entière est actuellement impliquée dans un vaste conflit entre le Christ et Satan, concernant le caractère de Dieu, sa loi et sa souveraineté sur 
		l´univers. Ce conflit éclata dans le ciel lorsqu´un être créé, doté de la liberté de choisir, devint, par une exaltation de sa personne, Satan, l´ennemi de Deiu, 
		et entraîna dans la révolte une partie des anges. Il introduisit un esprit de rébellion dans ce monde lorsqu´il incita Adam et Ève à pécher. Ce péché humain eut 
		pour conséquence, l´altération de l´image de Dieu dans l´humanité, la perturbation du monde créé et sa destruction lors du déluge universel. Au regard de toute 
		la création, ce monde est devenu le théâtre du conflit universel dont, en fin de compte, le Dieu d´amour sortira réhabilité. Afin de prêter main-forte à son peuple 
		dans ce conflit, le Christ envoie le Saint-Esprit et les anges fidèles pour le guider, le protéger et le soutenir sur le chemin du salut. (Ap 12.4-9 ; Es 14.12-14 ;
		Ez 28.12-18 ; Gn 3 ; 2 P 3.6 ; Rm 1.19-32 ; 5.12-21 ; 8.19-22 ; Gn 6-8 ; Hé 1.14 ; 1 Co 4.9)<br><br>
		<li class="liste">Vie, mort et résurrection du Christ</li>
		La vie du Christ, parfaitement soumise à la volonté divine, ses souffrances, sa mort et sa résurrection sont les moyens nécessaires auxquels Dieu a pourvu pour 
		libérer l´homme du péché, en sorte que tous ceux qui, par la foi, acceptent ce rachat, obtiennent la vie éternelle. Dès lors, la création tout entière peut mieux 
		comprendre l´amour saint et infini du Créateur. Cette réconciliation parfaite prouve la justice de la loi de Dieu et la noblesse de son caractère ; en effet, elle 
		condamne notre péché tout en pourvoyant à notre pardon. La mort du Christ a une valeur substitutive et rédemptrice ; elle est propre à réconcilier et à transformer. 
		Sa résurrection proclame le triomphe de Dieu sur les forces du mal et à ceux qui acceptent la réconciliation, elle assure la victoire finale sur le péché et la mort.
		Elle atteste la seigneurie de Jésus-Christ, devant qui tout genou ploiera dans les cieux et sur la terre. (Jn 3.16 ; Es 53 ; 1 P 2.21,22 ; 1 Co 15.3,4,20-22 ; 
		2 Co 5.14,15,19-21 ; Rm 1.4 ; 3.25 ; 4.25 ; 8.3,4 ; Ph 2.6-11 ; 1 Jn 2.2 ; 4.10 ; Col 2.15)<br><br>
		<li class="liste">L´expérience du salut</li>
		Le Christ n´a pas connu le péché. Pourtant, dans son amour infini, Dieu l´a fait péché pour nous, afin que nous devenions en lui justice de Dieu. Sous l´influence 
		du Saint-Esprit, nous prenons conscience de notre besoin, nous reconnaissons notre condition de pécheurs, nous nous repentons de nos transgressions et nous exprimons
		notre foi en Jésus comme Seigneur et Sauveur, comme substitut et comme exemple. Cette foi par laquelle nous recevons le salut provient du pouvoir divin de la Parole ; 
		c´est un don de la grâce de Dieu. Par le Christ, nous sommes justifiés, adoptés comme fils et filles, et délivrés de la férule du péché. Par l´Esprit, nous naissons de
		nouveau et sommes sanctifiés ; l´Esprit régénère nos esprits, grave la loi d´amour dans nos cœurs, et nous recevons la puissance nécessaire pour vivre une vie sainte. 
		En demeurant en Lui, nous devenons participants de la nature divine, nous avons l´assurance du salut, maintenant et au jour du jugement. (2 Co 5.17-21 ; Jn 3.16 ; Ga 
		1.4 ; 3.13,14,26 ; 4.4-7 ; Tt 3.3-7 ; Jn 16.8 ; 1 P 1.23 ; 2.21,22 ; Rm 3.21-26 ; 5.6-10 ; 8.1-4,14-17 ; 10.17 ; 12.2 ; Lc 17.5 ; Mc 9.23,24 ; Ep 2.5-10 ; Col 1.13,14
		; Jn 3.3-8 ; Hé 8.7-12 ; Ez 36.25-27 ; 2 P 1.3,4)<br><br>
		<li class="liste">Croître en Christ</li>
		Par sa mort sur la croix, Jésus a triomphé des forces du mal. Lui, qui a soumis les esprits démoniaques durant son ministère terrestre, a brisé leur 
		pouvoir et a rendu leur ruine définitive certaine. La victoire de Jésus nous rend victorieux sur les forces du mal qui cherchent toujours à nous dominer, 
		alors que nous marchons avec Lui en paix, dans la joie et l´assurance de son amour. Le Saint-Esprit habite maintenant en nous et nous rend plus forts. Engagés 
		en permanence avec Jésus, notre Sauveur et Seigneur, nous sommes libérés du fardeau de nos actions passées. Nous ne vivons plus dans les ténèbres, la peur des 
		pouvoirs maléfiques, l´ignorance et la vanité de notre ancienne manière de vivre. Dans cette nouvelle liberté en Jésus, nous sommes appelés à croître dans la 
		ressemblance de son caractère, alors que nous communions chaque jour avec Lui en prière, en nous nourrissant de sa Parole, en la méditant et en nous confiant dans
		sa prescience, en chantant ses louanges, en nous rassemblant pour lui rendre un culte et en participant à la mission de l´Église. Alors que nous nous donnons nous-mêmes, 
		dans un service d´amour, à ceux qui sont autour de nous, et en témoignant de son salut, sa présence constante auprès de nous par l´Esprit, transforme chaque moment et 
		chaque tâche en une expérience spirituelle. (Ps 1.1-2 ; 23.4 ; 77.11-12 ; Col 1.13-14 ; 2.6, 14-15 ; Luc 10.17-20 ; Eph 5.19-20 ; 6.12-18 ; 1 Th 5.23 ; 2 P 2.9 ; 3.18 
		; 2 Co 3.17,18 ; Ph 3.7-14 ; 1 Th 5.16-18 ; Mt 20.25-28 ; Jn 20.21 ; Ga 5.22-25 ; Rom 8.38-39 ; 1 Jn 4.4 ; Héb 10.25)<br><br>
		<li class="liste">L´Église</li>
		L´Église est la communauté des croyants qui confessent Jésus-Christ comme Seigneur et Sauveur. Dans la continuité du peuple que Dieu a suscité au temps de l´Ancien
		Testament, nous sommes appelés à sortir du monde. Nous nous assemblons pour adorer, pour fraterniser, pour nous instruire dans la Parole de Dieu, célébrer la sainte 
		Cène, venir en aide à nos semblables et proclamer l´Évangile au monde entier. L´Église reçoit son autorité du Christ, la Parole incarnée, et de la Bible, la Parole 
		écrite. L´Église est la famille de Dieu ; adoptés par le Seigneur comme ses enfants, ses membres vivent selon le statut de la nouvelle alliance. L´Église est le corps
		du Christ, une communauté de foi dont il est lui-même la tête. L´Église est l´épouse pour laquelle le Christ est mort afin de la sanctifier et de la purifier. À son 
		retour triomphal, il la fera paraître devant lui comme une Église glorieuse, fidèle à travers les âges, rachetée par son sang, sans tache, ni ride, mais sainte et
		irrépréhensible. (Gn 12.3 ; Ac 7.38 ; Mt 28.19,20 ; 16.13-20 ; 18.18 ; Ep 1.22,23 ; 2.19-22 ; 3.8-11 ; 4.11-15 ; 5.23-27 ; Col 1.17,18)<br><br>
		<li class="liste">L´Église du reste et son mandat</li>
		L´Église universelle englobe tous ceux qui croient vraiment en Christ. Mais, dans les derniers jours, en un temps d´apostasie généralisée, un reste a été suscité 
		pour garder les commandements de Dieu et la foi en Jésus. Ce reste proclame que l´heure du jugement est venue, prêche le salut par le Christ et annonce la proximité 
		de sa seconde venue. Cette proclamation est symbolisée par les trois anges d´Apocalypse 14 ; elle coïncide avec l´œuvre du jugement dans le ciel et se traduit par une
		œuvre de repentance et de réforme sur la terre. Tout croyant est appelé à participer personnellement à ce témoignage de portée mondiale. (2 Co 5.10 ; Jude 3.14 ; 
		1 P 1.16,19 ; 2 P 3.10-14 ; Ap 12.17 ; 14 ;6-12 ; 18.1-4 ; 21.1-14)<br><br>
		<li class="liste">L´unité du corps du Christ</li>
		L´Église est un corps composé de nombreux membres, issus de toute nation, de toute ethnie, de toute langue et de tout peuple. En Christ, nous sommes une nouvelle 
		création ; les distinctions de race, de culture, d´instruction, de nationalité, les différences de niveau social ou de sexe ne doivent pas être une cause de division 
		parmi nous. Nous sommes tous égaux en Christ, qui par son Esprit nous a réunis dans une même communion avec lui et entre nous ; aussi devons-nous servir et être servis 
		sans parti pris ni arrière-pensée. Grâce à la révélation de Jésus-Christ dans les Écritures, nous partageons la même foi et la même espérance en vue de rendre un témoignage 
		unanime devant tous les hommes. Cette unité trouve sa source dans l´unité du Dieu trinitaire qui nous a adoptés comme ses enfants. (Rm 12.4,5 ; Ps 133.1 ; 1 Co 12.12-14 ; 
		Mt 28.19,20 ; Ac 17.26,27 ; 2 Co 5.16,17 ; Ga 3.27,29 ; Col 3.10-15 ; Ep 4.1-6,14-16 ; Jn 17.20-23)<br><br>
		<li class="liste">Le baptême</li>
		Par le baptême, nous confessons notre foi en la mort et la résurrection de Jésus-Christ, et nous témoignons de notre mort au péché et de notre décision de mener une 
		vie nouvelle. Ainsi, reconnaissant le Christ comme Seigneur et Sauveur, nous devenons son peuple et sommes reçus comme membres par son Église. Le baptême est un symbole 
		de notre union avec le Christ, du pardon de nos péchés et de la réception du Saint-Esprit. Il se célèbre par une immersion dans l´eau et implique une profession de foi 
		en Jésus et des preuves de repentance. Il est précédé par une instruction fondée sur l´Écriture sainte et par une acceptation des enseignements qu´elle contient. 
		(Mt 28.19,20 ; Ac 2.38 ; 16.30-33 ; 22.16 ; Rm 6.1-6 ; Col 2.12,13)<br><br>
		<li class="liste">La sainte Cène</li>
		La sainte Cène est la participation aux emblèmes du corps et du sang de Jésus ; elle exprime notre foi en lui, notre Seigneur et Sauveur. Lors de 
		cette expérience de communion, le Christ est présent pour rencontrer son peuple et le fortifier. En y prenant part joyeusement, nous annonçons la mort 
		du Seigneur, jusqu´à ce qu´il vienne. La préparation au service de communion implique examen de conscience, repentance et confession. Le maître a prescrit
		l´ablution des pieds pour symboliser une purification renouvelée, exprimer une disposition au service mutuel dans une humilité semblable à celle du Christ, 
		et unir nos cœurs dans l´amour. Le service de communion est ouvert à tous les chrétiens. (Mt 26.17-30 ; 1 Co 11.23-30 ; 10.16,17 ; Jn 6.48-63 ; Ap 3.20 ; Jn 13.1-17)<br><br>
		<li class="liste">Dons spirituels et ministères</li>
		À toutes les époques, Dieu pourvoit tous les membres de son Église de dons spirituels que chacun doit employer afin d´exercer un service d´amour pour le bien 
		commun de l´Église et de l´humanité. Accordés par l´intermédiaire du Saint-Esprit, qui les distribue à chacun en particulier comme il veut, les dons mettent à 
		la disposition de l´Église toutes les compétences et les ministères nécessaires à l´accomplissement de sa mission divine. D´après les Écritures, ces dons peuvent 
		s´exercer dans le domaine de la foi, de la guérison, de la prophétie, de la prédication, de l´enseignement, de l´administration, de la réconciliation, de la compassion 
		et du service d´amour désintéressé pour le soutien et l´encouragement d´autrui. Certains sont appelés par Dieu et qualifiés par le Saint-Esprit pour remplir des fonctions 
		reconnues par l´Église : pastorat, évangélisation, apostolat et enseignement, ministères particulièrement nécessaires pour former les membres en vue du service, pour développer 
		la maturité spirituelle de l´Église et maintenir l´unité de la foi et de la connaissance de Dieu. Lorsque les membres emploient ces dons spirituels, comme de fidèles économes 
		des divers bienfaits de Dieu, l´Église est préservée de l´influence délétère des fausses doctrines ; elle se développe conformément à la volonté divine et s´édifie dans la foi 
		et dans l´amour. (Rm 12.4-8 ; 1 Co 12.9-11,27,28 ; Ep 4.8,11-16 ; Ac 6.1-7 ; 1 Tm 2.1-3 ; 1 P 4.10,11)<br><br>
		<li class="liste">Le don de prophétie</li>
		La prophétie fait partie des dons du Saint-Esprit. Ce don est l´une des marques distinctives de l´Église du reste et s´est manifesté dans le ministère d´Ellen White. 
		Les écrits de cette messagère du Seigneur sont une source constante de vérité qui fait autorité et procure à l´Église encouragement, directives, instructions et répréhension. 
		Ils affirment que la Bible est le critère auquel il faut soumettre tout enseignement et toute expérience. (Joël 2.28,29 ; Ac 2.14-21 ; Hé 1.1-3 ; Ap 12.17 ; 19.10)<br><br>
		<li class="liste">La loi de Dieu</li>
		Les grands principes de la loi de Dieu sont contenus dans les dix commandements et manifestés dans la vie du Christ. Ils expriment l´amour, la volonté et les desseins 
		de Dieu concernant la conduite et les relations humaines et sont impératifs pour tous les hommes de tous les temps. Ces préceptes constituent le fondement de l´alliance
		conclue par Dieu avec son peuple et la norme de son jugement. Agissant par le Saint-Esprit, la loi démasque le péché et fait éprouver le besoin d´un Sauveur. 
		Le salut procède entièrement de la grâce et non des œuvres, mais ses fruits se traduisent par l´obéissance aux commandements de Dieu. Celle-ci favorise le 
		développement d´une personnalité chrétienne et produit un sentiment de bien-être. C´est une manifestation de notre amour pour le Seigneur et de notre intérêt
		pour nos semblables. L´obéissance qui vient de la foi révèle la puissance du Christ qui transforme les vies et renforce ainsi le témoignage du chrétien. 
		(Ex 20.1-17 ; Ps 40.8,9 ; Mt 5.17-20 ; Dt 28.1-14 ; Ps 19.8-15 ; Rm 8.3,4 ; 1 Jn 5.3 ; Mt 22.36-40 ; Hé 8.8-10 ; Jn 16.7-10 ; Ep 2.8-10)<br><br>
		<li class="liste">Le sabbat</li>
		Au terme des six jours de la création, l’Auteur de tout bien s’est reposé le septième jour et a institué le sabbat comme mémorial de la création pour toute 
		l´humanité. Le quatrième commandement de la loi divine et immuable requiert l´observation de ce septième jour de la semaine comme jour de repos, de culte et 
		de service, en harmonie avec les enseignements et l´exemple de Jésus, le Seigneur du sabbat. Le sabbat est un jour de communion joyeuse avec Dieu et entre nous. 
		Il est un symbole de notre rédemption en Christ, un signe de notre sanctification, un témoignage de notre fidélité et un avant-goût de notre vie future dans le royaume 
		de Dieu. Le sabbat est le signe permanent de l´alliance éternelle de Dieu avec son peuple. L´observation joyeuse de ce temps sacré d´un soir à l´autre, d´un coucher de 
		soleil à l´autre, est une célébration de l´œuvre créatrice et rédemptrice de Dieu. (Gn 2.1-3 ; Ex 20.8-11 ; 31.12-17 ; Lc 4.16 ; Hé 4.1-11 ; Dt 5.12-15 ; Es 56.5,6 ; 
		58.13,14 ; Mt 12.1-12 ; Ez 20.12,20 ; Lv 23.32 ; Mc 1.32)<br><br>
		<li class="liste">La gestion chrétienne de la vie</li>
		Nous sommes les économes de Dieu : le Seigneur nous a en effet confié du temps, des occasions, des aptitudes, des possessions, les biens de la terre et les ressources 
		du sol, et nous sommes responsables devant lui de leur bon usage. Nous reconnaissons ses droits de propriété en le servant fidèlement, ainsi que nos semblables, en 
		lui rendant la dîme et en lui apportant des offrandes destinées à la proclamation de l´Évangile, au soutien et au développement de son Église. Gérer notre vie en
		chrétiens est un privilège que Dieu nous accorde afin de nous faire grandir dans l´amour et de nous aider à vaincre l´égoïsme et la convoitise. L´économe honnête 
		se réjouit des bénédictions accordées à ses semblables comme fruit de sa fidèle gestion. (Gn 1.26-28 ; 2.15 ; 1 Ch 29.14 ; Ag 1.3-11 ; Ml 3.8-12 ; Mt 23.23 ; 
		Rm 15.26,27 ; 1 Co 9.9-14)<br><br>
		<li class="liste"> Éthique chrétienne</li>
		Nous sommes appelés à être un peuple saint dont les pensées, les sentiments et le comportement sont en harmonie avec les principes du ciel. Pour permettre à 
		l´Esprit de reproduire en nous le caractère de notre Seigneur, nous ne suivons, à l´exemple du Christ, que des lignes d´action propres à favoriser la pureté, 
		la santé et la joie dans nos vies. Ainsi, nos loisirs doivent satisfaire aux normes les plus élevées du goût et de la beauté chrétienne. Compte tenu des différences
		culturelles, nous porterons des vêtements sobres, simples et de bon goût, comme il sied à ceux qui cherchent la vraie beauté non dans les ornements extérieurs, 
		mais dans le charme impérissable d´un esprit doux et paisible. Par ailleurs, notre corps étant le temple du Saint-Esprit, nous devons en prendre soin intelligemment.
		En plus d´un exercice physique et d´un repos adéquats, nous devons adopter le régime alimentaire le plus sain possible et nous abstenir des aliments malsains mentionnés 
		comme tels dans les Écritures. Les boissons alcoolisées, le tabac et l´usage des drogues et des narcotiques étant préjudiciables à notre corps, nous devons également 
		nous en abstenir. En revanche, nous userons de tout ce qui est de nature à soumettre nos corps et nos pensées à l´autorité du Christ, qui désire nous voir en bonne 
		santé, heureux et épanouis. (1 Jn 2.6 ; Ep 5.1-21 ; Rm 12.1,2 ; 1 Co 6.19,20 ; 10.31 ; Lv 11.1-47 ; 2 Co 6.14-7.1 ; 1 P 3.1-4 ; 2 Co 10.5 ; Ph 4.8 ; 3 Jn 2)<br><br>
		<li class="liste">Le mariage et la famille</li>
		Le mariage a été institué par Dieu en Eden. Jésus déclare qu´il s´agit d´une union à vie entre un homme et une femme qui marchent ensemble dans l´amour. 
		Aux yeux du chrétien, les vœux du mariage l´engagent aussi bien vis-à-vis de Dieu que vis-à-vis de son conjoint et ne devraient être échangés qu´entre des 
		personnes qui partagent la même foi. L´amour, l´estime, la responsabilité et le respect mutuels constituent la trame des liens conjugaux qui ont é refléter
		l´amour, la sainteté, l´intimité et la permanence des liens unissant le Christ à son Église. Concernant le divorce, jésus a enseigné que la personne qui – 
		sauf pour impudicité – se sépare de son conjoint et en épouse un autre commet un adultère. Bien que certaines relations familiales puissent ne pas atteindre 
		l´idéal, les époux qui se donnent l´un à l´autre en Christ peuvent néanmoins réaliser leur unité d´amour grâce à la direction du Saint-Esprit et au ministère 
		de l´Église. Dieu bénit la famille et désire que ses membres se prêtent mutuellement assistance en vue d´atteindre une pleine maturité. Les parents doivent 
		élever leurs enfants dans le but d´aimer le Seigneur et de lui obéir. Par la parole et par l´exemple, ils leur enseigneront que le Christ est un maître aimant,
		bienveillant et attentif à nos besoins, qui souhaite les voir devenir membres de son corps et appartenir à la famille de Dieu. Le resserrement des liens familiaux
		est l´un des signes distinctifs du dernier message évangélique (Gn 2.18-25 ; Dt 6.5-9 ; Jn 2.1-11 ; 2 Co 6.14 ; Ep 5.21-33 ; Mt 5.31,32 ; 19.3-9 ; Pr 22.6 ; Ep 6.1-4 ; 
		Ml 4.5, 6 ; Mc 10.11, 12 ; Lc 16.18 ; 1 Co 7.10, 11 ; Ex 20.12).<br><br>
		<li class="liste">Le ministère du Christ dans le sanctuaire céleste</li>
		Lors de son ascension, le Christ a inauguré son ministère de souverain sacrificateur dans le lieu saint du sanctuaire céleste, antitype du tabernacle de 
		l´ancienne dispensation. Comme dans le type, une instruction de jugement a commencé au moment où le Christ est entré dans le lieu très saint et dans le seconde 
		phase de son ministère, celui-ci étant figuré par le jour des expiations du service terrestre. Cette instruction du jugement a commencé dans le sanctuaire céleste 
		en 1844, au terme des 2 300 années, et prendra fin à l´expiration du temps de grâce (Hé 4.14 ; 8.1, 2 ; Lv 16.2, 29 ; Hé 9.23, 24 ; Dn 8.14 ; 9.24-27 ; Ap 14.6, 7 ; 22.11).
		<br><br>
		<li class="liste">La seconde venue du Christ</li>
		La seconde venue du Christ est la bienheureuse espérance de l´Église, le point culminant de l´Évangile. L´avènement du Sauveur sera littéral, personnel, 
		visible et de portée mondiale. Lors de son retour, les justes morts ressusciteront ; avec les justes vivants, ils seront glorifiés et enlevés au ciel, 
		tandis que les réprouvés mourront. L´accomplissement presque complet de la plupart des prophéties et les conditions actuelles qui règnent dans le monde 
		indique que la venue du Christ est imminente. Le jour et l´heure de cet événement n´ont pas été révélés, c´est pourquoi nous sommes exhortés à nous tenir
		prêts à tout moment (Tt 2.13 ; Jn 14.1-3 ; Ac 1.9-11 ; 1 Th 4.13-18 ; 5.1-6 ; 1 Co 15.51-54 ; 2 Th 1.7-10 ; 2.8 ; Mt 24 ; 26.43, 44 ; Ap 1.7 ; 14.14-20 ;
		19.11-21 ; Mc 13 ; Lc 21 ; 2 Tm 3.1-5 ; Hé 9.28).<br><br>
		<li class="liste">L´état des morts et la résurrection</li>
		Le salaire du péché, c´est la mort. Mais Dieu, qui seul est immortel, accordera la vie éternelle à ses rachetés. En attendant, la mort est un état 
		d´inconscience pour tous. Quand le Christ – qui est notre vie – paraîtra, les justes ressuscités et les justes encore vivants lors de sa venue seront 
		glorifiés et enlevés pour rencontrer leur Seigneur. La deuxième résurrection, celle des réprouvés, aura lieu mille ans plus tard (1 Tm 6.15, 16 ; Rm 6.23 ; 1 Co 15.51-54
		; Ec 9.5, 6 ; Ps 146.3, 4 ; 1 Th 4.13-17 ; Jn 5.28, 29 ; 11.11-14 ; Co 3.4 ; Ap 20.1-10).<br><br>
		<li class="liste">Les mille ans et l´élimination du péché</li>
		Le millénium est le règne du Christ avec ses élus, dans le ciel, règne qui durera mille ans. Il se situe entre la première et la deuxième résurrection.
		Pendant cette période, les réprouvés morts seront jugés. La terre sera totalement déserte ; elle ne comptera pas un seul être humain vivant, mais sera 
		occupée par Satan et ses anges. Lorsque les mille ans seront écoulés, le Christ, accompagné de ses élus, descendra du ciel sur la terre avec la sainte cité. 
		Les réprouvés morts seront alors ressuscités, et, avec Satan et ses anges, ils investiront la cité ; mais un feu venant de Dieu les consumera et purifiera la 
		terre. Ainsi, l´univers sera libéré à jamais du péché et des pécheurs (Ap 20 ; 21.1-5 ; Ml 4.1 ; Jr 4.23-26 ; 1 Co 6.2,3 ; Ez 28.18, 19).<br><br>
		<li class="liste">La nouvelle terre</li>
		Sur la nouvelle terre où la justice habitera, Dieu offrira aux rachetés une résidence définitive et un cadre de vie idéal pour une 
		existence éternelle faite d´amour, de joie et de progrès en sa présence, car Dieu habitera avec son peuple, et les souffrances et la mort 
		auront disparu. La grande tragédie sera terminée et le péché ne sera plus. Tout ce qui existe dans le monde animé ou le monde inanimé proclamera 
		que Dieu est amour ; et il régnera pour toujours. Amen (2 P 3.13 ; Es 35 ; 65 ;17-25 ; Mt 5.5 ; Ap 21.1-7 ; 22.1-5 ; 11.15).<br><br><br><br>
		Sources:<a href="http://eas7.org/croyances-fondamentales/" target="blank">Site de l'Église Adventiste du 7ème jour de Strasbourg</a>
		</ol>
		</div>
		 

		
	
	
		<footer id ="footer_croyances">
			<p id="foot_note"> © 2015 Proudly created by Jealcinor-Tech.   <a href= mailto "jean_net@live.fr">Contact</a></p>
			<p id = "logo_foot"><a href="https://www.facebook.com/AdvantisteDu7emJour?ref=hl" target="blank"><img src="{% static 'facebook.png' %}"/></a></p>
		</footer>
	
	</body>
	
</html>