{% load static %}
<html>
	<head>
		<title>EPS</title>
		<link rel="stylesheet" href="{% static 'css.css' %}">
	</head>

	<body id="bloc_page">
		<header>
			<p id = "logo"><img src="{% static 'logo.png' %}"/></p>
			<p id = "date"> {{date}}</p>
			<p id = "connecter"><a href="{% url 'philadelphie.views.connecter' %}">Se Connecter</a> | <a href="{% url 'philadelphie.views.inscrire' %}">S'inscrire</p></a>
			<p id = "separateur"><img src="{% static 'separateur.png' %}"/></p>
			<p><nav><a href="{% url 'philadelphie.views.acceuil' %}">Acceuil</a> | <a href="{% url 'philadelphie.views.croyances' %}">Croyances</a> |<a href="{% url 'philadelphie.views.apropos' %}">A Propos</a> | <a href="{% url 'philadelphie.views.actualites' %}">Actualites</a>
			</nav>
			</p>
			</p>
			</p>
		</header>
			
			<form method="POST" action="{% url 'philadelphie.views.connecter' %}" id="login"> {% csrf_token %}
			<fieldset id="field">
			<p>
			{{error}}
			<label for="text">&nbsp;&nbsp;&nbsp;</label><input type="text" name="pseudo" id="text" placeholder="Pseudo"><br><br>
			<label for="pass">&nbsp;&nbsp;&nbsp;</label><input type="password" name="pass" id="pass" placeholder="Mot de passe"><br>
			</p>
			
			<p>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="submit" name="valider" value="Se Connecter"><br><br>
			
			</fieldset>
			</p>
			</form>
	
		<footer>
			<p id="foot_note"> © 2015 Proudly created by Jealcinor-Tech.   <a href= mailto "jean_net@live.fr">Contact</a></p>
			<p id = "logo_foot"><a href="https://www.facebook.com/AdvantisteDu7emJour?ref=hl"><img src="{% static 'facebook.png' %}"/></a></p>
		</footer>
	
	</body>
	
</html>