{% load static %}
<html>
	<head>
		<title>EPS</title>
		<link rel="stylesheet" href="{% static 'css.css' %}">
	</head>

	<body id="bloc_page">
		<header>
			<p id = "logo"><img src="{% static 'logo.png' %}"/></p>
			<p id = "date"> {{date}}</p>
			<p id = "connecter"><a href="{% url 'philadelphie.views.connecter' %}">Se Connecter</a> | <a href="{% url 'philadelphie.views.inscrire' %}">S'inscrire</p></a>
			<p id = "separateur"><img src="{% static 'separateur.png' %}"/></p>
			<p><nav><a href="{% url 'philadelphie.views.acceuil' %}">Acceuil</a> | <a href="{% url 'philadelphie.views.croyances' %}">Croyances</a> |<a href="{% url 'philadelphie.views.apropos' %}">A Propos</a> | <a href="{% url 'philadelphie.views.actualites' %}">Actualites</a>
			</nav>
			</p>
		</header>
		
<form action="{% url "philadelphie.views.inscrire" %}" method="post" id="inscription_form">{% csrf_token %} 
<fieldset>
<legend>Inscription</legend>
{{ form.as_p }} 
<input type="submit" value="S'inscrire" />
</fieldset>
</form>

		<footer>
			<p id="foot_note"> © 2015 Proudly created by Jealcinor-Tech.   <a href= mailto "jean_net@live.fr">Contact</a></p>
			<p id = "logo_foot"><a href="https://www.facebook.com/AdvantisteDu7emJour?ref=hl"><img src="{% static 'facebook.png' %}"/></a></p>
		</footer>
	
	</body>
	
</html>
