{% load static %}
<html>
	<head>
		<title>EPS</title>
		<link rel="stylesheet" href="{% static 'css.css' %}">
	</head>

	<body id="bloc_page">
		<header>
			<p id = "logo"><img src="{% static 'logo.png' %}"/></p>
			<p id = "date"> {{date}}</p>
			<p id = "separateur"><img src="{% static 'separateur.png' %}"/></p>
			<p><nav><a href="{% url 'philadelphie.views.acceuil' %}">Acceuil</a> | <a href="{% url 'philadelphie.views.croyances' %}">Croyances</a> |<a href="{% url 'philadelphie.views.apropos' %}">A Propos</a> | <a href="{% url 'philadelphie.views.actualites' %}">Actualites</a>
			</nav>
			</p>
		</header>
		
		<p id = "ok">Enregistrement reussi<br>
		<img src="{% static 'ok.png' %}"/></p>

<footer>
			<p> © 2015 Proudly created by Jealcinor-Tech.   <a href= mailto "jean_net@live.fr">Contact</a></p>
			<p id = "logo_foot"><img src="{% static 'facebook.png' %}"/></p>
		</footer>
	
	</body>
	

















<!-- <h1>Se deconnecter</h1> 
{% if registered %} 
<p><strong>Ou anregistre.</strong></p>  
{% endif %} 
{% if user.is_authenticated %} Vous êtes  connecté, {{ user.username }} ! 
{% else %}
<form method="post" action="."> 
{% csrf_token %} 
{{ form.as_p }} 
<input type="submit"/> 
</form> 
{% endif %} -->
