#date
{
position:absolute;
margin-top:05%;
}
#connecter
{
position:absolute;
left:75%;
margin-top:05%;
}
header
{
height:15%;
background-repeat:no-repeat;
}

#logo
{
height:0%;
margin-left:20%;
}

#separateur
{
height:5%;
width:100%;
margin-top:8%;
background-image:url("separateur.png");
}

nav
{
font-size:20px;
height:5%;
margin-left:60%;
}

footer
{
position:absolute;
top:150%;
background-color:gray;
width:100%;
height:20%;
}

#footer_croyances
{
position:absolute;
top:857%;
background-color:gray;
width:100%;
height:20%;
}

#foot_note
{
position:absolute;
margin-top:3%;
}

#partie1
{
position:absolute;
left:65%;
margin-top:05%;
}

#partie2
{
position:absolute;
left:57%;
margin-top:17%;
width:40%;
text-align:justify;
}

#partie3
{
position:absolute;
left:57%;
margin-top:34%;
width:40%;
text-align:justify;
}

#partie4
{
position:absolute;
left:57%;
margin-top:51%;
width:40%;
text-align:justify;
}

#corps
{
position:absolute;
top:30%;
width:48%;

}

#bloc_page
{
width:100%;
margin:auto;
}

h3
{
width:48%;
text-align:center;
margin-top:03%;
}

.histoire
{
left:02%;
width:45%;
position:absolute;
height:122%;
margin-top:09%;
font-size:20px;
text-align:justify;
background-color:;
}





#contact
{
left:51%;
width:45%;
position:absolute;
height:80%;
margin-top:8%;
background-color:gray;
}
#titre_contacte
{
position:absolute;
margin-top:50%;
width:50%;
text-align:center;
font-size:20px;
}

#logo_foot
{
position:absolute;
left:90%;
margin-top:03%;
}
a
{
color:blue;
text-decoration:none;
}

/* #login
{
position:absolute;
left:55%;
margin-top:05%;
width:43%;
height:50%;
background-color:blue;
} */


#signin
{
margin:55px 200px 0px 0px;
background-color:;
padding-left:200px;
height:300px;
}
#nom, #prenom, #submit, #reset
{
width:270px;
height:30px;
}
label,input[type="text"]{
	width:150px;
}
label{
	float:left;
	color:red;
}
form{
	
}
input[type="submit"]{
	background-color:lightblue;
}

#mail, #pass, #text, #text1
{
width:250px;
height:30px;
}
#annee
{
width:65px;
}
#field
{
width:10%;
position:absolute;
left:60%;
margin-top:05%;
height:60%;
background-color:gray;
}
#inscription_form{
	width:25%;
	margin:auto;
	margin-top:150px;
}
fieldset{
	border-radius:5px;
}

#fieldlogin
{
position:absolute;
left:50%;
width:48%;
height:110%;
}

#text2
{
width:80%;
height:80%;
}

#article
{
position:absolute;
left:20%;
margin-top:06%;
width:60%;
height:18%;
font-size:17px;
}
#titre_article
{
position:absolute;
left:20%;
margin-top:05%;
width:60%;
height:04%;
font-size:17px;
background-color:blue;
text-align:center;
}

#comment_article
{
position:absolute;
font-size:20px;
background-color:gray;
width:60%;
}

#commentaire
{
position:absolute;
font-size:20px;
width:100%;
}

#commentaire1
{
position:absolute;
font-size:20px;
width:200%;
}

#image_article
{
float:left;
}

#ok
{
position:absolute;
margin-left:40%;
margin-top:15%;
color:blue;

}

#croyances
{
position:absolute;
left:05%;
margin-top:05%;
width:90%;
font-size:20px;
background-color:#CCFFFF;
text-align:justify;
}
.liste
{
color:red;
font-size:20px;
}

#title
{
position:absolute;
left:20%;
margin-top:05%;
width:60%;
font-size:40px;
text-align:center;
background-color:blue;
}

#contenue
{
position:absolute;
left:20%;
margin-top:10%;
width:60%;
background-color:gray;
font-size:17px;
text-align:justify;
}

#comment_pseudo
{
color:red;
font-family:italic;
}

#fieldset_comment
{
background-color:gray;
}

#pic_articles
{
width:50%;
height:10%;
background-color:white;
}

#erreur
{
position:absolute;
left:01%;
margin-top:05%;
background-color:red;
width:18%;
font-size:20px;
text-align:center;
}