#logo
{
height:5%;
margin-left:20%;
}

#separateur
{
height:5%;
width:100%;
margin-top:8%;
background-image:url("separateur.png");
}

header
{
height:15%;
}

#bloc_page
{
height:100%;
width:100%;
}

#bloc_pageform
{
height:10%;
width:10%;
background-color: red;
}
#bloc_pageform input
{
height:10%;
width:10%;
}


footer
{
background-color:red;
height:10%;
margin-top:70%;
}

nav
{
font-size:20px;
height:5%;
margin-left:60%;
}

.titre
{
font-size:20px;
font-family:algerian;
text-align:center;
height:10%;

}
.histoire
{
text-align:justify;
width:48%;
position:absolute;
height:80%;
margin-top:0%;

}
h3
{
width:48%;
text-align:center;
}
.image
{
background-color:red;
position:absolute;
left:50%;
top:50%;
width:48%;
height:39%;
text-align:center;
font-size:20px;
-webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
 animation: mymove 5s infinite;
}

.image1
{
background-color:red;
position:absolute;
left:50%;
top:60%;
width:48%;
height:39%;
text-align:center;
font-size:20px;
}
.image2
{
background-color:red;
position:absolute;
left:50%;
top:100%;
width:48%;
height:39%;
text-align:center;
font-size:20px;
}
/*.image3
{
position:absolute;
top:20%;
width:48%;
height:39%;
}

.image4
{
background-color:red;
position:absolute;

top:60%;
width:48%;
height:39%;
}
.image5
{
background-color:red;
position:absolute;
top:100%;
width:48%;
height:39%;
}*/
/* Chrome, Safari, Opera 
@-webkit-keyframes mymove {
    from {left: 50%;}
    to {left: 100%;}
}

@keyframes mymove {
    from {left: 50%;}
    to {left: 100%;}
} */

/*Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    0%   {background-image: "bc.jpg";}
    25%  {background-image: "bc1.jpg";}
    50%  {background-image: "bc2.jpg";}
    100% {background-image: "bc3.jpg";}
}

 /*Standard syntax */
@keyframes mymove {
    0%   {background-image:url("bc.jpg");}
    25%  {background-image:url("bc1.jpg");}
    50%  {background-image:url("bc2.jpg");}
    100% {background-image:url("bc3.jpg");}
}
.contact
{
position:absolute;
left:50%;

width:48%;
text-align:center;
font-size:20px;
}

#formcontact
{
/*padding:30px 250px 100px 900px;
 margin-top:0px;
margin-left:200px;
margin-right:200px;
margin-bottom:200px; */
position:absolute;
left:52%;
margin-top:5%;
width:48%;
height:50%;;
}
#formcontact input[type="text"]
{
margin-left:15%;
width:70%;
height:5%;
}
#formcontact input[type="submit"]
{
margin-left:15%;
width:70%;
height:5%;
}

#field
{
height:200%;;
width:60%;
margin-left:10%;
}

#signin
{
margin:55px 200px 0px 0px;
background-color:;
padding-left:200px;
height:300px;
}
#formsignin
{
height:200%;;
width:50%;
margin-left:5%;
}

#corps
{
background-image:url("corps.png");
position:absolute;

top:60%;
width:48%;
height:39%;

}
